$dog: url('/images/animal1.png');
$seal: url('/images/animal2.png');
$dino: url('/images/animal3.png');
$forest: url('/images/bg/bg1.png');
$cave: url('/images/bg/bg2.png');
$iceland: url('/images/bg/bg3.png');
