$dog: url('/images/animals/animal1.png');
$bear: url('/images/animals/animal2.png');
$dino: url('/images/animals/animal3.png');
$forest: url('/images/bg/bg1.png');
$cave: url('/images/bg/bg2.png');
$iceland: url('/images/bg/bg3.png');
$icePipe: url('/images/stumps/icePipe.png');
$woodPipe: url('/images/stumps/woodPipe.png');
$stonePipe: url('/images/stumps/stonePipe.png');
