@import 'colors';
@import 'images';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: 'Architects Daughter', cursive;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	// background-color: rgba(255, 226, 122, 1);
	background-image: linear-gradient(
		to left top,
		#6863b4,
		#6c70be,
		#707dc8,
		#768ad2,
		#7c97db,
		#75a5e6,
		#6eb2f0,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
}

.game-field {
	position: relative;
	width: 400px;
	height: 500px;
	border-radius: 20px;
	border: 2px solid black;
	overflow: hidden;
}
.background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: $forest;
}
.background-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: $shadow;
}
.animal {
	position: absolute;
	height: 45px;
	width: 45px;
	top: 240px;
	left: 30px;
	background-image: $dog;
}
.bottom {
	position: absolute;
	width: 47px;
	background-image: url('/images/pipeBottom.png');
}
.top {
	position: absolute;
	width: 47px;
	transform: rotate(180deg);
	background-image: url('/images/pipeTop.png');
}
.result {
	position: absolute;
	display: flex;
	top: 18px;
	left: 25px;
	font-size: 40px;
	color: $light;
	p {
		padding-right: 5px;
	}
}
button {
	position: absolute;
	display: flex;
	top: 25px;
	right: 25px;
	padding: 5px;
	font-size: 22px;
	background-color: $light;
	border: 1px solid $black;
	border-radius: 8px;
	cursor: pointer;
	transition: box-shadow 0.3s, scale 0.3s;
}
button:hover {
	box-shadow: 0px 0px 10px $light;
	scale: 0.95;
}

.settings {
	position: absolute;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 50px 30px;
	background-color: $light;
	border-radius: 16px;
	display: flex;
	h1 {
		display: flex;
		font-size: 45px;
		text-transform: uppercase;
	}
	.close-btn {
		font-size: 25px;
		justify-content: center;
		align-items: center;
		width: 34px;
		height: 34px;
		font-family: 'Architects Daughter', cursive;
		transition: box-shadow 0.3s, scale 0.3s;
	}
	.close-btn:hover {
		box-shadow: 0 0 10px $black;
		scale: 0.95;
	}
	.heroes {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-top: 2px solid lightgray;
		h2 {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5%;
		}
		.animals-btns {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			.animal-btn {
				width: 70px;
				height: 70px;
				border: 1px solid black;
				border-radius: 8px;
				transition: scale 0.3s;
				background-size: 90%;
				background-position: center;
				background-repeat: no-repeat; // margin: 5px;
			}
			.dog {
				background-image: $dog;
			}
			.active-animal {
				box-shadow: 0 0 10px $black;
			}
		}
	}

	.backgrounds {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-top: 2px solid $light-gray;
		h2 {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5%;
		}
		.background-btns {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			.background-btn {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px;
				width: 90px;
				font-size: 20px;
				border: 1px solid $black;
				border-radius: 8px;
				transition: scale 0.3s;
			}
		}
	}
}
.animal-btn:hover,
.background-btn:hover {
	// box-shadow: 0 0 10px rgb(83, 83, 83);
	scale: 0.9;
}

.settings-show {
	animation: show-settings 0.5s;
}

@keyframes show-settings {
	0% {
		clip-path: circle(0 at 90% 8%);
		display: none;
	}
	100% {
		clip-path: circle(140% at 90% 8%);
		display: flex;
	}
}
.settings-close {
	animation: close-settings 0.5s;
}

@keyframes close-settings {
	0% {
		clip-path: circle(140% at 90% 8%);
		display: flex;
	}
	100% {
		clip-path: circle(0 at 90% 8%);
		display: none;
	}
}
